<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>  
    <clear />  
    <add name="Name"   
       providerName="System.Data.ProviderName"   
       connectionString="Valid Connection String;" />  
  </connectionStrings>  
  <system.webServer>
    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <mimeMap fileExtension=".odin" mimeType="text/odin"/>
      <mimeMap fileExtension=".handlebars" mimeType="text/x-handlebars"/>
    </staticContent>
  </system.webServer>
</configuration>